

@media (max-width: 950px){
  .testimonials-container{
    width: initial;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    margin: 1em;
    font-size: 1.1em;
  }

  .card-5{
    grid-column: 1/1;
  }

}