@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;

}

:root{
  font-size: 0.875em;
}


html{
  scroll-behavior: smooth;
}

body{
  font-family: "Roboto", serif;
}

.testimonials-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
  /* justify-self: center; */
  margin: 3em;
  line-height: 1.5em;
  font-size: 1.5em;
}

.testimonials-card{
  padding: 1.5em;
  border-radius: 1em;
  box-sizing: border-box;
}

.user-pic{
  width: 5.5em;
  height: 5.5em;
}

.star{
  height: 1em;
}

.profile{
  display: flex;
  align-items: center;
  gap: 1em;
}

.card-5{
  grid-column: span 2;
  text-align: center;
  border: 2px solid black;
  padding-bottom: 1em;  
}


.blk-card{
  background-color: black;
  color: white;
  padding: 1em;
  position: relative;
  border-radius: 1em;
}


.arrow::after{
  position: absolute;
  bottom: -.5em;
  left: 2em;
  content: " ";
  border-top: 15px solid black;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;

}

.border-card{
  border: 2px solid black;
}

.card-4{
  background-color: black;
  color: white;
  padding-top: 1em;
}

.profile{
  margin-top: .7em;
}

.pic{
  border-radius: 1em;
}

button{
  background: transparent;
  border: none;
  cursor: pointer;
}
.carosel{
  display: flex;
  gap: 1em;
  justify-content: center;
}

.c-pic{
  opacity: 50%;
  height: 3em;
  width: 3em;
}

.pic-list{
  display: flex;
  align-items: center;
  gap: 1em;
}

.pic-2{
  width: 100%;
  height: 100%;
}

.testimonies{
  padding: 1.5em;
}

.p-1{
  margin-bottom: 2em;
}

.flex{
  display: flex;
  justify-content: center;
}